---
---

@import "base";

@page {
  margin: 0;
  margin-bottom: 2rem;
  size: Letter;
  @bottom-center {
      content: counter(page);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.full-page {
  height: 11in;
  break-after: always;
}

.front-cover {
  background: linear-gradient(315deg, #EFC237, #AD6CDC);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
}

.section, ul, ol, p, h1, h2, h3, h4, h5, h6 {
  break-inside: avoid;
}

.header-image {
  width: 100%;
  height: auto;
  margin: 0;
}

.print-content {
  margin: 2em;
}

.flavor-text {
  background-color: #DDD;
  padding: 1rem;
  margin: 1rem;
  font-style: italic;
  margin-bottom: 1em;
}