<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <div class="title-section">
        <h1 class="page-title">{{ page.title }}</h1>
        <small class="tagline">{{ page.tagline }}</small>
      </div>
      <div class="sidebar-grid">
        <div class="sidebar" markdown=1>
          <ul class="unstyled">
            <li><b>Skills:</b> {{ page.skills | join: ", " }}</li>
            <li><b>Tools:</b> {{ page.tools | join: ", " }}</li>
            <li><b>Languages:</b> {{ page.languages | join: ", " }}</li>
          </ul>
        </div>
        <div class="page-content" markdown=1>
          {{ content }}
          {% if page.flavor-text %}
          <blockquote class="flavor-text" markdown=1>{{ page.flavor-text | markdownify }}</blockquote>
        </div>
        {% endif %}
      </div>

    </div>
  </body>
</html>
