<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">
      <div class="breadcrumbs">
        <a href='/weapons'>back to Weapons</a>
      </div>
      <div class="title-section">
        <h1 class="page-title">{{ page.title }}</h1>
        <small class="tagline">{{ page.tagline }}</small>
      </div>
      <div class="sidebar-grid">
        <div class="sidebar" markdown=1>
          <ul class="unstyled">
            <li><b>Proficiency:</b> {{ page.proficiency }}</li>
            <li><b>Damage:</b> {{ page.damage-dice }} {{ page.damage-type }}</li>
            <li><b>Cost:</b> {{ page.cost }}</li>
            <li><b>Weight:</b> {{ page.weight }}</li>
            <li><b>Range:</b> {{ page.range }}</li>
            <li><b>Rarity:</b> {{ page.rarity }}</li>
            <li><b>Properties:</b> {{ page.properties | join: ", " }}</li>
          </ul>
        </div>
        <div class="page-content" markdown=1>
          {{ content }}
          {% if page.flavor-text %}
          <blockquote class="flavor-text" markdown=1>{{ page.flavor-text | markdownify }}</blockquote>
        </div>
        {% endif %}
      </div>

    </div>
  </body>
</html>
